<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds" debug="false">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level[%marker] %logger{36} - %msg%n%mdc%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.otus" level="${LOG_OTUS_LEVEL}" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="Application" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="${LOG_COMMON_LEVEL}">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
